*{
    box-sizing: border-box;
}
.center{
    margin: 0 auto;
    
}

body{
    margin:0px;
    background-image: url(img/recepcion-img.png);
    /*background-image: url(img/recepcion-dos-img.png);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

html{
    scroll-behavior: smooth;
}
/*------------------HEADER------------------*/
header{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.918);
    
}
header img{
    display: block;
    margin: 0 auto;
    padding-top:15px;
    width: 375px;
}
/*------------------NAV------------------*/
header ul{
    display: flex;
    justify-content: space-around;
}
header li{
    list-style: none;
    
    
 }
 header li a{
    text-decoration: none;
    color:rgb(82, 80, 80);
    font-family: 'Montserrat Alternates', sans-serif; 
    font-size: 16px;
 }

 header li a:hover{
    color: rgb(37, 36, 36);
    font-size: 18px;
 }

 .nav-bar{
    width: 900px;
    padding-top: 16px;
 }

/* borrar  
#ig_logo{
    width: 30px;
    height: 30px;
    position: relative;
 }
 */
/*------------------INIT------------------*/
.init{
    height: 500px;
    width: 100%;

}

.text-video-box{
    display: flex;
    height: 350px;
    
}
.video-init video{
    width: 100%;
    height: 100%;
    margin-top: 105px;
}
.video-init{
    position: relative;
    top: -15px;
    left: -42px;
}
.init-card{
    width: 875px;
    height: 350px;
    background-color: rgba(240, 248, 255, 0.73);
    color:rgb(59, 58, 58);
    font-size: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left:100px ;
    margin-top: 90px;
    padding-top: 20px;
    padding-left: 57px;
}
.init-card span{
    display: block;
    padding-top: 10px;
}

/*------------------HOME------------------*/
.home{
    height: 495px;
    background-color: rgba(43, 43, 43, 0.89);
}

h1{
    text-align: center;
    font-size:48px;
    color:white !important;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 30px;
    padding-bottom: 20px;
    
}
.line-home{
    border-bottom:0.2px solid gray ;
    width: 900px;
    
}
.info{
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    
}
.text-info-home{
    width: 60%;
    padding: 0px 20px 0px 20px;
    font-family: 'Poppins', sans-serif;
    color:white;
    font-size: 17px;
    font-weight: 600 ;
    margin-top: 90px;
    
}

.img-info-aside{
    border-radius:8px;
    height: 310px;
    width: 35%;
    margin-top: 25px;
}
.img-info-middle{
    display: none;
}
.presentation{
    background-color: rgba(43, 43, 43, 0.89);
}
.team-title{
    text-align: center;
    font-size:52px;
    color:white !important;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 30px;
    padding-bottom: 20px;
    
    display: block;
}

/*------------------PRESENTATION------------------*/
.presentation-container{
   
    width: 966px;
    margin: 0 auto;
    padding-top:30px;
}


/* Nueva presentacion con transiciones*/
#container-1 {
    height: 2375px;
    width: 75%;
    background-color: transparent;
    color: rgba(243, 243, 243, 0);
    margin: 0 auto;
  }
  

 
.card {
    display: flex ;
    flex-direction:inherit  !important;
    height: 460px ;
    width: 100% ;
    background-color: rgba(255, 255, 255, 0) !important;
    
    position: relative ;
    overflow: hidden ;
    margin: 20px auto ;
    border-radius: 5px ;
    border: none !important;
  }
  
.contenido {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    left: -1200px;
    transition-property: left;
    transition-duration: 2s;
    transition-timing-function: ease;
    
  }

  .contenido-izq{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    left: 1200px;
    transition-property: left;
    transition-duration: 2s;
    transition-timing-function: ease;
  }

  .contenido h3{
    font-size: 35px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;

    
  }
  .contenido-izq h3{
    font-size: 35px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;

    
  }

  .contenido p{
    font-size: 19px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    
    
  }
  .contenido-izq p{
    font-size: 19px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    
    
  }

.presentation:hover .contenido{
    left: 0;
  }
.presentation:hover .contenido-izq{
    left: 0;
  }

  
  /* body:hover .contenido-izq img{
      left: 0;
    }*/
    
/*.contenido img {
        position: relative;
        width: 230px;
        height: 320px;
        border-radius: 5px;
        margin: 20px;
        right: 565px;
        transition-property: right;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }*/
.img-der {
        position: relative;
        width: 280px;
        height: 370px;
        border-radius: 5px;
        
        right: 1000px;
        margin:auto;
        transition-property: right;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        
}
.img-izq{
    position: relative;
    width: 230px;
    height: 320px;
    border-radius: 5px;
    
    margin:auto;
    right: -1000px;
    transition-property: right;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
    
.presentation:hover  img{
      right: 0;
    }

  
  
p {
    margin: 0;
  }
  
  /*p::after {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget ligula aliquet, elementum ligula nec, rhoncus tortor. Sed non faucibus elit, nec varius massa. Morbi vel odio eu turpis tempor pulvinar a eu dolor. Nam fringilla, nulla a fringilla auctor, nunc augue faucibus diam, a laoreet mauris quam sed lectus. Integer lobortis elit quis quam elementum, nec consequat magna consectetur. ";
  }*/
/*------------------TREATMENTS------------------*/
.treatments{
    background-image: url(img/recepcion-dos-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 1594px;
    padding-top: 50px;
}


.treatments-container{
    width: 100%;
    margin:0 auto;
    text-align: center;
}

.treatments-box{
    display: none;
    height: 700px;
    width: 75%;
    margin: 20px auto 60px;
    background-color: rgba(113, 112, 112, 0.744);
    
} 
.treatments-box ul{
    list-style: none;
}

.treatments-box ul li{
    padding: 5px 0 5px 0;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-weight: 800;
}
/*
<div class="presentation-card">
            <div>
              <img src="img/img-home.jpeg" alt="foto de dentista" />
            </div>
            <span id:="name">Dra Tamara Diaz</span>
            <span id="tuition">MN. 22208/8</span>
            <div class="presentation-text">
              <p>
                Odontóloga graduada de la universidad nacional de La Plata. 
                Especialista en ortodoncia y ortopedia de los maxilares (UAI)
                Residente y odontóloga de planta en el Htal Odontológico Norberto Diprospero hasta el año 2020.
                -Curso  de microimplantes (SAO)
                -Curso de microimplantes y Marpe
                -Acreditación de alineadores “all right” d
                Ejerzo mi profesión de ortodoncia desde el año 2014.
              </p>
             
              
  
            </div>
          </div>
*/
/*
.treatments-box ul li:hover{
    background-color:rgb(236, 231, 231);
    border-radius:8px;
    color: #1f2121;
}

.treatments-box ul li a{
    text-decoration: none;
    color: rgb(149, 81, 81);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}*/



.treatments-box-2{
    background-color: #e7edede4;
    width: 80%;
    margin-top: 20px;
    padding:30px 0 30px 0 ;
    margin: 15px auto;
    
}
.treatments-container span{
    font-size:48px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-style: oblique;
    
    
    
}
.treatments-title-2{
    color: #e7edede4;
}
.treatments-box-2 h3{
    color:rgb(19, 17, 17);
    font-size: 35px;
    font-style:oblique;
}

.treatments-box-2 ul{
    list-style:inside;
    text-align: start;
}

.treatments-box-2 ul li {
    color: rgb(32, 32, 32);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: 300;

}

.treatments-box-2 ul li:hover{
    background-color: #2b2c2c;
    color: #f1f3f4;
}
.treatments-box-2 ul li a{
    text-decoration: none;
    
}
.scanner{
    width: 90%;
    margin: 0 auto;
}
.scanner h3{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 40px;

}
.scanner p{
    text-align: center;
    font-size: 19px;
    color: white;
}
.videos-scanner{
    display: flex;
    margin: 0 auto;
}
.vid-1{
    height: 400px;
    margin-top: 60px;
    border-radius: 6px;
    border: 2px solid rgb(117, 116, 116);

}
.vid-2{
    width: 250px;
    margin-left: 133px;
    margin-top: 37px;
    border-radius: 6px;
    border: 2px solid rgb(117, 116, 116);

}

/*------------------TURISMO DENTAL------------------*/
/*.turismo-container{
    
    border: 1px solid rgb(206, 128, 128);
    border-radius: 8px;
    margin: 20px auto;
    }

.turismo-container h3{
    margin: 15px 0 0 0 ;
    text-align: center;
}*/

/*------------------CONTACT------------------*/
.card-box{
    display:flex;
}
.card-contact{
    width: 50%;
    height: 300px;
    border-radius: 8px;
    background-color: rgba(176, 177, 179, 0.865);
    margin:10px 15px 10px 15px;
}

.contact{
    height: 780px;
    background-color: rgba(105, 105, 105, 0.63);
    margin-bottom:50px;
    text-align: center;
    padding-top:90px;
    
}
.contact-display{
    display: flex;
   
    width: 70%;
    margin: 0 auto;
}
.contact-wsp-tel{
    
    padding: 60px;
}
.contact img{
    
    display: block;
    margin: 0 auto;
}
.contact span{
    font-size: 48px;
    font-family:'Montserrat Alternates', sans-serif;
    color: white;
}

.mailto-box{
    border: 5px solid #db4a39;
    background-color: #db4a39;
    border-radius: 16px;
    width: 380px;
    height: 83px;
    margin-top: 20px;
    display: flex;
}

.mailto-box-img{
    margin-top: 20px;
}
.mailto-box span{
    font-size: 16px;
    font-weight: 600;
}
.text-mail{
    padding-top: 22px;
    padding-right: 16px;
}

.telephone{
    border: 1px solid gray ;
    background-color:rgba(252, 253, 253, 0.423);
    border-radius: 16px;
    width: 380px;
    height: 83px;
    margin-top: 20px;
    display: flex;
}

.telephone img{
    height: 62px;
    width: 59px;
}
.telephone span{
    font-size: 26px;
    color: #1f2121;
    font-weight: 1900;
    font-family: 'Roboto', sans-serif;
    margin-right: 64px;

}

.telephone-img{
    width: 25%;
    margin-top: 10px;
}
.number-box{
    width: 75%;
    margin-top: 22px;
    
}

.form-container{
    background-color: rgba(255, 255, 255, 0.809);
    width: 500px;
    height: 400px;
    margin: 65px auto;
    border-radius: 10px;
    
    
}
.form-container img{
    width: 50px;
    height: 50px;
}
form{
    display: flex;
    flex-direction: column;
    
}

form input{
    margin: 10px;
    border: 0;
    height: 60px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.412);
}


form button{
    margin: 0 auto;
    border: 0px;
    border-start-end-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: 40px;
    width: 150px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: black;
}

form button:hover{
    margin: 0 auto;
    border: 0px;
    border-start-end-radius: 9px;
    border-bottom-left-radius: 9px;
    margin-top: 40px;
    background-color: gray;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}

.address{
    width: 300px;
    height: 100px;
    background-color:  #f1f3f4;
    
    text-align: center;
    display: block;
    border-radius: 3px;
    margin-left: 150px;
}
.address span{
    font-size: 22px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(28, 28, 28);
}

.ubication{
    width: 100%;
    padding-bottom: 100px;
}
.container-carousel{
    width: 400px;
    height: 75px;
    position: relative;
    top: -272px;
    left: 250px;
    border-radius: 8px;
}
.container-carousel img{
    border-radius: 16px;

}
.container-map{
   
    width: 100%;
    height: 600px;
   
    margin: 0 auto;
    
}

.buttons{
    width: 800px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    margin:  0 auto;
    
}

.buttons button{
    border-radius: 4px;
    text-align: center;
    background-color:rgb(165, 61, 61) ;
    font-family: 'Poppins', sans-serif;
    color:white;
    border: none; 
    font-size: 20px;   
    font-weight: bold;
}

/*.buttons button:hover{
    font-size: 25px;
    height: 40px;
    font-weight: 700;
}*/

/*------------------FOOTER------------------*/
footer{
    height: 215px;
    background-color: rgba(255, 255, 255, 0.974);
}
footer img{
    width: 200px;
    height: 150px;
    display: block;
    margin: 15px auto;
}
.footer-icons{
    display: flex;
    width: 240px;
    justify-content: space-around;
    margin-top: -27px;
}
.footer-logo{
    width: 20px;
    height: 20px;
}


.thanks{
    width: 500px;
    height: 300px; 
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.605); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin: 15px auto; 
    padding-top:110px; 
    font-family: 'Josefin Sans', sans-serif; 
}

@media only screen and (max-width: 1024px){
    .nav-bar{
        width: 495px;
    }
    .line-home{
        width: 90%;
    }
    .home{
        height: 439px;
    }    
    .text-info-home{
        margin-top: 35px;
    }
    .init{
        height: 660px;
    }
    .text-video-box{
        display: inline;
    }
    .init-card{
     font-size: 40px;
     margin: 50px auto;
     height: 250px;
     width: 650px;
    }
    .video-init{
        margin: 0 auto;
    }
    .video-init video{
        margin-top: -35px;
        margin-left: 152px;
        width: 650px;
    }
     .container-1{
     height: 2665px;
    }
    .contenido p{
        font-size: 14px;
    }
    .contenido-izq p{
        font-size: 14px;
    }
    .treatments{
        height: 1710px;
    }
    .vid-1{
        margin: auto;
    }
    .videos-scanner .vid-2{
        display: none;
    }
    .presentation{
        height: 2625px;
    }
    .container-carousel{
        left: 39px;
    }
    .contact-display{
        width: 100%;
    }
    .contact{
        width: 100%;
    }
    .contact-wsp-tel{
        padding: 38px;
    }

    
 }

@media only screen and (max-width: 720px){
.home{
        height: 700px;
}
header img{
    width: 220px;
}
header li a{
    color: rgb(0, 0, 0);
}
header li a:hover{
    color:rgba(196,96,86)
    
}
.nav-bar{
    width: 450px;
}

.init-card{
   width: 100%;
   height: 200px;
   margin: auto;

}
.init{
    height: 270px;
}
.init-card span{
    font-size: 30px;
    padding-top: 5px ;
}

.video-init{
    display: none;
}
.img-info-middle{
    display: inline;
    margin-top: 10px !important;
    margin-left: 36px !important;
    
    height: 220px;
    width: 250px;
    margin: 0 auto;
}

.img-info-aside{
    display: none;
}

.text-info-home{
    margin: 0 auto;
    width: 80%;
}

.presentation-container{
    display: block;
    width: 500px;
    margin: 0 auto;
    padding-top:30px;
}
.presentation-card-box{
    display: inline;
}
.presentation-card{
    margin: 0 auto;
    width: 80%;
    height: 650px;
}
.treatments-container{
    width: 90%;
    margin:0 auto;
    text-align: center;
}
#treatments{
    height: 2310px;

}
.videos-scanner .vid-1{
    width: 360px;
    border: none;
}

.line-home{
    width: 100%;
}
.contact{
    height: 990px;
    margin-bottom: 100px;
}
.contact-display{
    display: inline;
    
}
.form-container{
    width: 420px;
}
.presentation{
    height: 2805px;
}
.card{
    display: inline!important;
    
}
.img-der{
    height: 170px;
    width: 170px;
    margin: 10px auto !important;
    display: none;
}
.img-izq{
    height: 170px;
    width: 170px;
    margin: 10px auto !important;
    display: none;
}

.contenido{
    font-size: 10px ;
    text-align: center;
    
    left: 0;
}

.contenido p{
    width: 100%;
    font-size: 14px;
}
.contenido h3{
    text-align: center;
    margin:auto;
}
.contenido-izq{
    font-size: 10px;
    text-align: center;
    left: 0;
}
.contenido-izq p{
    width: 100%;
    font-size: 14px;

}
.contenido-izq h3{
    text-align: center;
}
.buttons{
    display: inline;
    
}
.form-buttons:hover{
    font-size: inherit;
}
.buttons button :hover{
    font-size: 20px;
}

.container-carousel{
    display: none;
}
.address{
    margin: auto;
    
}
.contact-wsp-tel{
    padding: 30px;
}

.thanks{
    width: 100%;
}
}


